/* You can add global styles to this file, and also import other style files */
$bg : rgb(222, 234, 243);

body {
    margin: 0 !important;
    background-color: $bg;
    
}



.success {
    color: rgb(46, 100, 46);
}

.fail {
    color: rgb(138, 47, 47);
}
.m-1 {
    margin: 1em;
}