.user-container {
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
}
button {
    margin:1em;
    background-color: rgb(226, 132, 132);
    border: 1px solid black;
    padding: 0.5em;
}